*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: var(--f-regular);
    background-color: #ffffff;
    color: #808080;
    line-height: 1.4;
}

ul li { list-style: none; }
a { text-decoration: none; }


.component-title{
    color: var(--c-black);
}

button{
    font-family: var(--f-regular);
}